@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    background-color: aquamarine;
    margin:0;
    font-family: 'Lato', sans-serif;
    color: black;
}

.navbar-name{
    float: left;
    position: fixed;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}

.navbar-container{
    position: fixed;
    background-color: whitesmoke;
    width: 100%;
}

.navbar-container a{
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
}

.links li {
    list-style-type: none;
    display: inline-block;
    margin-top: 1em;
    margin-right: 2em;
    margin-bottom: 1em;
}

.navbar-links ul{
    float: right;
}

.links a:hover{
    color: #ffaaaa;
}
.profile-pic {
    margin: 0 auto;
    padding-top: 6em; 
    width: 100%;
    text-align: center;
}
.propic {
    border-radius: 50%;
    border: 4px solid #ffaaaa;
}

  

